<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".levels.easy.easyLevels" android:screenOrientation="portrait" />
        <activity android:name=".levels.easy.easyLvl1" android:screenOrientation="portrait" />
        <activity android:name=".levels.easy.easyLvl2" android:screenOrientation="portrait" />
        <activity android:name=".levels.easy.easyLvl3" android:screenOrientation="portrait" />
        <activity android:name=".levels.medium.mediumLevels" android:screenOrientation="portrait" />
        <activity android:name=".levels.medium.mediumLvl1" android:screenOrientation="portrait" />
        <activity android:name=".levels.medium.mediumLvl2" android:screenOrientation="portrait" />
        <activity android:name=".levels.medium.mediumLvl3" android:screenOrientation="portrait" />
        <activity android:name=".levels.hard.hardLevels" android:screenOrientation="portrait" />
        <activity android:name=".levels.hard.hardLvl1" android:screenOrientation="portrait" />
        <activity android:name=".levels.hard.hardLvl2" android:screenOrientation="portrait" />
        <activity android:name=".levels.hard.hardLvl3" android:screenOrientation="portrait" />
        <activity android:name=".Help" android:screenOrientation="portrait" />

        <service android:name=".MusicService" android:stopWithTask="true"/>
    </application>

</manifest>